* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
header {
  background-color: black;
  height: 300px;
}
.white-on-hover{
  color: lightgrey;
  font-family: sans-serif;
  font-size: 14px;
  margin-right: 20px;
}
.white-on-hover:hover{
  color: white;
}
.button-follow{
  color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: transparent;
}
.button-follow, .menu-right-items{
  margin-left: 15px;
}
.button-follow:hover{
  color: white;
}
li{
  list-style-type: none;
}
.menu-nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  margin-top: 20px;;
  margin-left: 45px;
}
.menu-right{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-right: 45px;
}
.main-heading{
  font-size: 35px;
  color: lightgrey;
  font-family: "Open Sans", sans-serif;
}
.main-subheading{
  font-size: 20px;
  color: lightgrey;
  font-family: "Open Sans", sans-serif;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px 20px 20px;
}
.popsocket{
  width: 650px;
  height: 450px;
  margin-right: 15px;
}
.iron-article{
  font-size: 15px;
  color: blue;
}
h2{
  color: black;
  font-size: 30px;
}
p{
  font-size: 20px;
  color:lightgrey;
}

@media screen and (max-width: 980px){
.content{
  display: flex;
  flex-direction: column;
}
.popsocket{
  width: 650px;
}
.menu-left{
  display: flex;
  flex-direction: column;
}
.menu-right{
  display: flex;
  flex-direction: column;
}
.menu-nav{
  display: flex;
  flex-wrap: wrap;
}
}
@media screen and (max-width: 600px){
.content{
  display: flex;
  flex-direction: column;
}
.menu-nav{
  display: flex;
  flex-wrap: wrap;
}
.menu-left{
  display: flex;
  flex-direction: column;
}
.menu-right{
  display: flex;
  flex-direction: column;
}
.popsocket{
  width: 550px;
  margin-left: 0;
}
.main-heading{
  font-size: 25px;
}
.main-subheading{
  display: none;
}
}